:root {
  --clr-neonblue: hsl(205, 100%, 50%);
  --clr-neonwhite: hsl(0, 0%, 100%);
}

.projectlink {
  padding-top: 20px;
  text-decoration: none;
  font-size: clamp(1rem, 3vw, 2.5rem);
  font-family: 'Roboto', sans-serif;
  color: var(--clr-neonwhite);
}

.container-main2 {
  padding-top: 20vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
}

.circle-mobile {
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: transparent;
  min-height:70vh;
  width: 40vw;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cmobile-front, .cmobile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cmobile-inner {
  /* border: 1px solid var(--clr-neonwhite); */
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: 1s;
  transform-style: preserve-3d;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cmobile-front {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--clr-neonwhite); */
  border-radius: 10px;
  min-height:70vh;
  width: 40vw;
  margin: 0 auto;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
  opacity: 1;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#cmobile-front:focus {
  outline: none;
}

.circle-mobile:focus {
  outline: none;
}

.circle-mobile:focus .cmobile-inner {
  transform: rotateY(180deg);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#cmobile-front:focus .cmobile-inner {
  transform: rotateY(180deg);
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cmobile-front, .cmobile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cmobile-back {
  /* border: 1px solid var(--clr-neonwhite); */
  border-radius: 10px;
  box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
  transform: rotateY(180deg);
  box-shadow: -10px 10px 30px hsla(0, 100%, 72%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
  transition: 1s;
}

.cmobile-front img {
  width: 80%;
  height: 70%;
  border-radius: 10%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.cmobile-front:hover, .cmobile-front:hover > img {
  opacity: 1;
  box-shadow: 10px 10px 30px hsla(0, 100%, 72%, 0.795), inset 0 0 20px rgba(255, 255, 255, 0.411);
  transition: 1s;
}

.circle-mobile:hover {
  box-shadow: -10px 10px 30px hsla(0, 100%, 72%, 0.795);
  transition: 1s;
}

.cmobile-back h2 {
  -webkit-text-stroke: .1px hsla(0, 100%, 72%, 0.795);
  font-size: 4rem;
  font-family: 'Orbitron', sans-serif;
}

.cmobile-back p {
  padding: 10px;
  color: var(--clr-neonwhite);
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 600px) {
  .contact-form {
      flex-direction: column;
  }

  .msg textarea {
      height: 80px;
  }

  .input-fields,
  .msg {
      width: 100%;
  }

  .social img {
      width: 75px;
      height: 75px;
      padding: 20px;
      border-radius: 10%;
      transition: .3s ease-out;
      margin: .5vw;
  }

  .hero {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
      background-image: linear-gradient(rgba(0, 0, 0, .8), rgba(0,0,0,1)), radial-gradient(circle at top left,rgba(0, 0, 0, 0), rgba(0,0,0,1));
      background-clip: padding-box;
      border-top-left-radius: 10%;
      border-top-right-radius: 10%;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      /* border-bottom: .1em solid var(--clr-neonwhite); */
      overflow: hidden;
      box-shadow: 0 5px 10px rgba(255, 255, 255, 0.13)
      
  }

  .aside-about {
      display:flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0,0,0,1));
      /* border: 1px solid var(--clr-neonwhite); */
      border-radius: 5px;
      min-height:70vh;
      width: 100vw;
      margin: 0 auto;
      box-shadow: 0 -10px 20px hsla(205, 100%, 50%, 0.295), inset 0 0px 0px rgba(255, 255, 255, 0.03);
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
  }

  .vmobile-front {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 1px solid var(--clr-neonwhite); */
      border-radius: 10px;
      min-height:60vh;
      width: 100vw;
      margin: 0 auto;
      box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
      opacity: 1;
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
  }

  .cmobile-front {
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* border: 1px solid var(--clr-neonwhite); */
      border-radius: 10px;
      min-height:60vh;
      width: 100vw;
      margin: 0 auto;
      box-shadow: 0 0px 10px rgba(255, 255, 255, 0.247);
      opacity: 1;
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
  }

  .vedomy-mobile {
      display:flex;
      flex-direction: column;
      margin: 0 auto;
      background-color: transparent;
      min-height:60vh;
      width: 100vw;
      border-radius: 10px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
  }

  .circle-mobile {
      display:flex;
      flex-direction: column;
      margin: 0 auto;
      background-color: transparent;
      min-height:60vh;
      width: 100vw;
      border-radius: 10px;
      perspective: 1000px; /* Remove this if you don't want the 3D effect */
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
  }

  .vmobile-front img {
      width: 80%;
      height: 70%;
      border-radius: 10%;
      -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
     -o-transition: all 1s ease-out;
     -ms-transition: all 1s ease-out;
     transition: all 1s ease-out;
  }

  .cmobile-front img {
      width: 80%;
      height: 70%;
      border-radius: 10%;
      -webkit-transition: all 1s ease-out;
     -moz-transition: all 1s ease-out;
     -o-transition: all 1s ease-out;
     -ms-transition: all 1s ease-out;
     transition: all 1s ease-out;
  }

  .aside-projV {
      display: none;
  }

  .aside-proj {
      display: none;
  }

  .vmobile-inner {
      flex-direction: column;
  }

  #vedomyss {
      display: none;
  }

  #ouicirclesss {
      display: none;
  }

  .vedomy-mobile:focus .vmobile-inner {
      transform: rotateY(180deg);
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
  }

  .circle-mobile:focus .cmobile-inner {
      transform: rotateY(180deg);
      -webkit-transition: all 1s ease-out;
      -moz-transition: all 1s ease-out;
      -o-transition: all 1s ease-out;
      -ms-transition: all 1s ease-out;
      transition: all 1s ease-out;
  }

  .container {
      margin-top:200px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0,0,0,1));
      border-radius:0px;
  }

  .container-main {
      padding-top: 20vh;
      display: flex;
      flex-direction:column;
      justify-content: space-between;
      background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
      width:100vw;
  }

  .container-main2 {
      padding-top: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
      width: 100vw;
  }

  .circle-mobile, .cmobile-front {
      height:10vh;
      width: 100%;
      margin: 0 auto;
      border-radius:5px;
  }


  .mobilelink {
      font-size:1.25rem;
  }
}