.misc {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  height:70vh;
  width: 40vw;
  border-radius: 10px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.misc img {
  width: 80%;
  height: 70%;
  border-radius: 10%;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.container-main2 {
  padding-top: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0,0,0,1));
}